/* src/components/Pages/Home.css */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el scroll */
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;
  background-image: url('../../assets/home-fondo.jpg');
  background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Cubre toda la altura de la ventana */
  width: 100vw; /* Cubre todo el ancho de la ventana */
  box-sizing: border-box; /* Asegura que padding y border no influyan en el tamaño */
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.current-musical {
  margin-top: 20px;
}

.current-musical h2 {
  font-size: 1.5em;
  color: #333;
}

.current-musical p {
  font-size: 1.2em;
  color: #555;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(271deg 100% 25% / 0.25); /* Sombras más sutiles */
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(271deg 100% 25%) 0%,  /* Más oscuro */
    hsl(271deg 100% 45%) 8%,   /* Color principal más claro */
    hsl(271deg 100% 45%) 92%,  /* Color principal más claro */
    hsl(271deg 100% 25%) 100%  /* Más oscuro */
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(271deg 100% 35%); /* Color principal */
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.modal-content {
  color: white;
  font-size: 3rem;
  transform: scale(0);
  animation: scaleUp 0.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
